<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loadout Form</title>
</head>

<body>
    <h1>Add Loadout</h1>
    {% with rep_messages = get_flashed_messages(category_filter=['report']) %}

    {% if rep_messages %}

    {% for rep_message in rep_messages %}

    <p style="color: red;">{{rep_message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/add_loadout" method="post">
        <label for='creator'>Creator:</label>
        <input type='text' name='creator'><br>

        <label for='gun'>Gun:</label>
        <input list="brow">
        <datalist name="gun" id="brow">
            <option value="lachmann-556">lachmann-556</option>
            <option value="taq-56">Taq-56</option>
            <option value="m4">M4</option>
            <option value="kastov-762">kastov-762</option>
            <option value="stb-556">stb-556</option>
            <option value="m16">m16</option>
            <option value="kastov-74u">kastov-74u</option>
            <option value="kastov-545">kastov-545</option>
            <option value="m13b">m13b</option>
            <option value="chimera">chimera</option>
            <option value="iso hemlock">iso hemlock</option>
            <p>Battle Rifles</p>
            <option value="lachmann-762">lachmann-762</option>
            <option value="so-14">so-14</option>
            <option value="taq-v">taq-v</option>
            <option value="ftac recon">ftac recon</option>
            <p>SMGs</p>
            <option value="vel-46">vel-46</option>
            <option value="mx9(aug)">mx9(aug)</option>
            <option value="lachmann-sub">lachmann sub (mp5)</option>
            <option value="vaznev-9k">vaznev-9k</option>
            <option value="fss-hurricane">fss hurricane</option>
            <option value="minibak">minibak</option>
            <option value="pdsw-528">pdsw-528</option>
            <option value="fennec 45">fennec 45</option>
            <option value="bas-p">bas-p</option>
            <p>LMGs</p>
            <option value="sakin mg38">sakin mg38</option>
            <option value="hcr-56">hcr-56</option>
            <option value="556 icarus">556 icarus</option>
            <option value="raal mg">raal mg</option>
            <option value="rpk">rpk</option>
            <option value="rapp h">rapp h</option>
            <p>Shotguns</p>
            <option value="lockwood-300">lockwood-300</option>
            <option value="expedite 12">expedite 12</option>
            <option value="bryson 800">bryson 800</option>
            <option value="bryson 890">bryson 890</option>
            <option value="kv broadside">kv broadside</option>
            <p>Marksmen Rifles</p>
            <option value="ebr-14">ebr-14</option>
            <option value="sp-r-208">sp-r-208</option>
            <option value="lockwoodmk2">lockwoodmk2</option>
            <option value="lm-s">lm-s</option>
            <option value="sa-b-50">sa-b-50</option>
            <option value="taq-m">taq-m</option>
            <option value="crossbow">crossbow</option>
            <p>Sniper Rifles</p>
            <option value="mcpr-300">mcpr-300</option>
            <option value="signal-50">signal-50</option>
            <option value="la-b-330">la-b-330</option>
            <option value="sp-x-80">sp-x-80</option>
            <option value="victus xmr">victus xmr</option>
            <p>Pistols</p>
        </datalist>

    </form>
</body>

</html>