.main {
    display: grid;
    place-items: center;
}

.grid {
    display: grid;
    place-items: center;
}

.grid:first-child {
    border-bottom: solid black 3px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 3px;
    padding: 10px;
    gap: 10px;
}

button {
    margin: 10px;
}